includes:
    - phpstan-baseline.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Trait N3XT0R\\FilamentLockbox\\Concerns\\InteractsWithLockboxKeys is used zero times#'
        - '#Trait N3XT0R\\FilamentLockbox\\Concerns\\InteractsWithLockbox is used zero times#'
        - '#Property N3XT0R\\FilamentLockbox\\.*::\$view \(view-string\) does not accept default value of type string#'


